version: '3.8'

services:
  frontend:
    image: nginx
    ports:
      - "8085:80"
    volumes:
      - ./frontend:/usr/share/nginx/html
    depends_on:
      - backend

  backend:
    build: ./backend
    
